/* You can add global styles to this file, and also import other style files */
/* .img-responsive{
     width: 1000px;
    margin-left: 220px; 
 top:0;
  left:0;
  right:0;
  bottom:0;
  position:absolute;
}

 @import '~bootstrap/dist/css/bootstrap.min.css';  */